<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - G&R industrias plásticas </title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/GRINPLAS.styles.css" asp-append-version="true" />
  <script src="~/lib/jquery/dist/jquery.min.js"></script>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&amp;display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&amp;display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
</head>

<body style="background-color: #c5dbcd">
  <div class="d-flex flex-column">
    <div class="d-flex align-items-center p-3" style="background-color: #c5dbcd">
      <button class="btn me-3 p-3" id="menu-toggle"
        style="border-radius: 50%; background-color: rgba(19, 155, 51, 0.2)">
        <img src="https://i.ibb.co/84XNccvZ/menu-5.png" alt="menu-toggle" width="25px" height="25px" border="0" />
      </button>
      <span class="fs-3 fw-bold" style="color: #096623">G&R</span>
      <div class="ms-auto align-items-center d-flex">
        <div class="d-flex flex-column" style="border: solid 2px #fff; border-radius: 30px; width: 350px">
          <div class="fw-bold fs-5 text-star text-success me-auto ps-2 pt-1">
            <!--Lógica nombre gerente-->
            Mayra Guevara Estremadoiro
          </div>
          <div class="text-star fw-normal fs-6 ml-2 ps-4 pb-2" style="color: rgba(4, 85, 27, 0.52)">
            <!--Lógica nombre correo gerente-->
            mayraguevara332@gmail.com
          </div>
        </div>
        <div class="position-absolute" style="transform: translateX(270px)">
          <img src="https://storage.googleapis.com/a1aa/image/-oruAM08FFeceuN2Y-t0_Zr19mVSEAYYH-Ngt_-6MNs.jpg"
            alt="img-perfil" width="90px" height="90px" style="border-radius: 50%" />
        </div>
      </div>
    </div>
    <div class="d-flex flex-row">
      <div class="d-flex flex-column" id="sidebar">
        <nav id="navbar" class="p-4 mt-5 ms-2 me-2" style="border-radius: 50px; background-color: #dbebe0">
          <a class="nav-link active p-3" style="
                background-color: rgba(9, 102, 35, 0.57);
                border-radius: 20px;
                color: #fff;
              " href="~/InicioGeren/InicioGerente">
            <i class="fas fa-home me-2"></i> Inicio
          </a>
          <a class="nav-link fw-normal p-3" href="~/AnalisisVentas/Index" style="color: #096623">
            <i class="fas fa-tachometer-alt me-2"></i> Analisis de ventas
          </a>
          <a class="nav-link fw-normal p-3" href="~/EstadoContable/Index" style="color: #096623">
            <i class="fas fa-file-invoice-dollar me-2"></i>Estado Contable
          </a>
          <a class="nav-link fw-normal p-3" href="~/Comentarios/Index" style="color: #096623">
            <i class="fas fa-comments me-2"></i> Comentarios
          </a>
          <a class="nav-link fw-normal p-3" href="~/Trabajadores/Index" style="color: #096623">
            <i class="fas fa-user-cog me-2"></i>Trabajadores
          </a>

        </nav>
        <div class="d-flex flex-column align-items-center p-4 mt-2 ms-2 me-2"
          style="background-color: #dbebe0; border-radius: 50px" id="navbar-footer">
          <div class="p-5">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Logout" method="post"
              style="margin-left: 30px; margin-right: 30px; color: #096623">
              <i class="fas fa-sign-out-alt me-2" style="color: #096623"></i>
              Cerrar Sesión
            </a>
            <p class="text-success small mt-4" style="margin-left: 30px; margin-right: 30px">
              © 2025 G&R Industrias Plasticas S.A. Todos los derechos reservados.
            </p>
          </div>
        </div>
      </div>
      <!--Main Content-->
      <div class="d-flex flex-column m-3" id="main-content">
        <main style="background-color: #ffffff; border-radius: 30px">
          @RenderBody()
        </main>
      </div>
    </div>
  </div>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>
