<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - G&R industrias plásticas </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/producto.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GRINPLAS.styles.css" asp-append-version="true" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body>
    <div class="d-flex flex-column">
        <header class="position-relative header d-flex justify-content-center p-3 m-3" style="
        height: 450px;
                width: 98%;
                border-radius: 30px;
                overflow: hidden;
                background: linear-gradient(rgba(0, 0, 0, 0.268), rgba(0, 0, 0, 0.3)), 
                            url('https://i.ibb.co/r2p85fg0/Bolsas-Plastico.jpg');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                background-attachment: fixed;">
          
            
            <!-- Menú superior izquierdo -->
            <nav class="position-absolute top-0 start-0 m-3 bg-white rounded-pill d-flex align-items-center px-3 py-2 shadow" style="width: auto;">
                <div class="nav-container d-flex align-items-center">
                    <span class="fw-bold text-success ms-3">G&R</span>
                    
                    <!-- El botón hamburguesa solo aparecerá en pantallas pequeñas -->
                    <button class="navbar-toggler ms-2 d-md-none" 
                            type="button" 
                            data-bs-toggle="collapse" 
                            data-bs-target="#navbarCollapse" 
                            aria-controls="navbarCollapse" 
                            aria-expanded="false" 
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    <div class="navbar-collapse collapse d-md-flex" id="navbarCollapse">
                        <div class="nav-elements">
                            <a href="~/Home/Index" class="text-decoration-none" style="color:#096623; margin-left:30px">Inicio</a>
                            <a href="~/Home/Informacion" class="text-decoration-none" style="color:#096623">¿Quiénes Somos?</a>
                            <a href="~/Home/Procesos" class="text-decoration-none" style="color:#096623">Procesos</a>
                            <a href="~/Productos/Cliente" class="text-decoration-none" style="color:#096623">Productos</a>
                            <a href="~/Carrito/Cliente" class="text-decoration-none" style="color:#096623">
                                <div class="bg-success rounded-circle d-flex align-items-center justify-content-center" style="width: 30px; height: 30px;">
                                    <i class="fas fa-shopping-cart text-white" style="font-size: 12px;"></i>
                                </div>
                            </a>
                        </div>
                        
                        <div class="login-section">
                            <partial name="_LoginPartial"/>
                        </div>
                    </div>
                </div>
            </nav>
          
        </header>

        <!-- Main Content -->
        <div class="d-flex flex-column mx-3 my-3" id="main-content">
            <main style="background-color: #ffffff">
                @RenderBody()
            </main>
        </div>

        <footer class="mt-5 text-white py-4" style="background-color: #70A67F;">
          <div class="container">
            <div class="row">
                <div class="col-md-4 mb-4 mb-md-0">
                <h2 class="h4" style="font-weight: bold">G&R INDUSTRIAS PLÁSTICAS</h2>
                <p style="font-weight: bold">
                    Nos esforzamos en crear los mejores plásticos, como bolsas y
                    mangas, ofreciendo siempre un servicio de excelencia para PYMEs.
                </p>
                <a
                    href="IniciarSesionAdmin.html"
                    style="text-decoration: none; color: #ffffff; font-weight: bold"
                    >Administrador</a
                >
                </div>
                <div class="col-md-4 mb-4 mb-md-0">
                <h3 class="h5">Nos Encontramos:</h3>
                <p style="color: #1b665e">
                    MZA. E-1 LOTE. 9 ASOC ALAMEDA DEL NORTE (ALT OVALO DE PUENTE
                    PIEDRA) LIMA - LIMA - PUENTE PIEDRA
                </p>
                <h3 class="h5 mt-4">Email</h3>
                <p style="color: #1b665e">soporte@grinplas.com</p>
                </div>
                <div class="col-md-4 mb-4 mb-md-0">
                <h3 class="h5">Llámenos</h3>
                <p style="color: #1b665e">+51 935 789 352</p>
                <a href="~/Reclamaciones/Cliente" class="btn mt-4 d-flex align-items text-decoration-none" style="background:rgba(2, 130, 117, 0.48); border-radius:10px">
                    <i class="fas fa-book-open me-2" style="color: #1b665e; background-color: rgba(255, 255, 255, 0.71); font-size: 40px; padding: 10px; border-radius: 10px;"></i>
                    <p class="text-white fw-2 fs-5 mt-3 ms-2 mb-0">Libro de reclamaciones</p>
                </a>
                </div>
            </div>
            <div class="row mt-4 pt-4 border-top border-light">
                <div class="col-md-6">
                <p
                    class="mb-0"
                    style="color: rgba(9, 102, 35, 0.53); font-weight: bold"
                >
                    © 2024 G&R INDUSTRIAS PLÁSTICAS S.A. Todos los derechos reservados.
                </p>
                </div>
                <div class="col-md-6 text-md-end">
                <a href="#" class="text-success fw-2" style="text-decoration: none">Políticas de Reclamos.</a>
                </div>
            </div>
        </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/notification.js"></script>
    
    @await RenderSectionAsync("Scripts", required:false)
</body>