@model GRINPLAS.ViewModel.TrabajadorViewModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    ViewData["Title"] = "Lista de Trabajadores";
    Layout = "~/Views/Shared/_LayoutVendedor.cshtml";
    var token = Xsrf.GetAndStoreTokens(Context).RequestToken;
}
<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" required />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Apellidos" class="control-label"></label>
                <input asp-for="Apellidos" class="form-control" required />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" required />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="DNI" class="control-label"></label>
                <input asp-for="DNI" class="form-control" required />
                <span asp-validation-for="DNI" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="PosicionLaboral" class="control-label"></label>
                <select asp-for="PosicionLaboral" class="form-control" required>
                    <option value="">Seleccione un rol</option>
                    <option value="Vendedor">Vendedor</option>
                    <option value="GerenteGeneral">Gerente General</option>
                    <option value="Almacenero">Almacenero</option>
                </select>
                <span asp-validation-for="PosicionLaboral" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Crear</button>
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}