@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "¿Olvidastes tu contraseña?";
    Layout = null; 
}

<link rel="stylesheet" href="~/css/login.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<body style="background-color: #1b665fc4;">
<div class="login-container" style="background-color: #1b665e;">
<!--Campos para reestablecimiento-->
    <div class="card login-card">
        <div class="card-body">
          <h2 class="card-title text-center">@ViewData["Title"]</h2>
          <h3 class="text-center" style="color: white;">Ingresa tu correo electrónico</h3>
          <hr style="border-color: white;"/>
          <form method="post" style="color: #1b665e">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="mb-3">
              <label asp-for="Input.Email" class="form-label">Email</label>
              <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
              <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-success btn-lg">Restablecer Contraseña</button>
            </div>
            <div class="mt-3 text-center">
              <a asp-page="./Login" class="text-success">Volver al Iniciar Sesión</a>
            </div>
          </form>
        </div>
    </div>
</div>
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
﻿
