@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación de restablecimiento de contraseña";
    Layout = null; 
}

<link rel="stylesheet" href="~/css/login.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<!--Reestablecer contraseña enlace externo-->
<body style="background-color: #1b665fc4;">
<div class="login-container" style="background-color: #1b665e;">
    <div class="card login-card">
        <div class="card-body">
          <h2 class="card-title text-center">@ViewData["Title"]</h2>
          <hr style="border-color: white;"/>
          <div style="color: white; text-align: center;">
            <p>
                Por favor revisa tu correo electrónico para restablecer tu contraseña
            </p>
          </div>
          <div class="mt-3 text-center d-flex flex-column gap-3">
          <!--Verificar correo-->
              <a href="https://mail.google.com" class="btn btn-success" target="_blank">Ir al Correo</a>
              <a asp-page="./Login" class="text-success">Volver a Iniciar Sesión</a>
          </div>
        </div>
    </div>
</div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
﻿
