@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = null; 
}
<link rel="stylesheet" href="~/css/login.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<body style="background-color: #1b665fc4;">
<div class="login-container" style="background-color: #1b665e;">
    <div class="card login-card">
        <div class="card-body">
          <h2 class="card-title text-center">Iniciar Sesión</h2>
          <form id="loginForm" style="color: #1b665e" method="post">
            @if (ViewData.ModelState.ErrorCount > 0)
            {
                <div asp-validation-summary="All" class="alert alert-danger border rounded p-2 mb-2"></div>
            }
            <div class="mb-3">
              <label asp-for="Input.Email" class="form-label">Email</label>
              <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
              <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
              <label asp-for="Input.Password" class="form-label">Contraseña</label>
              <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Escribir Contraseña" />
               <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <!--
            <div class="checkbox mb-3">
                <label asp-for="Input.RememberMe" class="form-label">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                </label>
            </div>
            -->
            <div>
                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-success">Iniciar Sesion</button>
            </div>
            <div class="mt-4">
                <!--<p>
                    <a id="forgot-password" asp-page="./ForgotPassword" class="text-success">¿Te olvidaste la contraseña?</a>
                </p>--> 
                <p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-success">¿No tienes cuenta? Registrate</a>
                </p>
            </div>
          </form>
        </div>
    </div>
</div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
}
