@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Restablecer contraseña";
    Layout = null;
}

<link rel="stylesheet" href="~/css/login.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<body style="background-color: #1b665fc4;">
<div class="login-container" style="background-color: #1b665e;">
    <div class="card login-card">
        <div class="card-body">
            <h2 class="card-title text-center">@ViewData["Title"]</h2>
            <h3 class="text-center" style="color: white;">Crea una nueva contraseña</h3>
            <hr style="border-color: white;"/>
            <form method="post" style="color: #1b665e">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <input asp-for="Input.Code" type="hidden" />
                
                <div class="mb-3">
                    <label asp-for="Input.Email" class="form-label">Correo electrónico</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                
                <div class="mb-3">
                    <label asp-for="Input.Password" class="form-label">Nueva contraseña</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Ingresa tu nueva contraseña" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                
                <div class="mb-3">
                    <label asp-for="Input.ConfirmPassword" class="form-label">Confirmar contraseña</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirma tu nueva contraseña" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success btn-lg">Restablecer contraseña</button>
                </div>
                
                
            </form>
        </div>
    </div>
</div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}