@{
    ViewData["Title"] = "Términos y Condiciones";
    
}

<style>
    .tyc-wrapper {
        padding: 0;
        display: flex;
        justify-content: center;
        background-color: #25b061; /* Verde de fondo principal */
        width: 100%;
    }

    .tyc-container {
        max-width: 960px;
        width: 100%;
        padding: 20px;
    }

    .tyc-inner-container {
        background-color: #36c272; /* Verde más claro para el cuadro interior */
        border-radius: 8px;
        padding: 20px 30px;
        color: white;
        font-family: 'Segoe UI', sans-serif;
    }

    .tyc-title {
        color: white;
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
        padding: 10px 0 20px;
        text-transform: uppercase;
    }

    .tyc-section-title {
        font-size: 1.1rem;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 5px;
    }

    .tyc-text {
        line-height: 1.5;
        font-size: 0.95rem;
        margin-bottom: 15px;
    }
</style>

<div class="tyc-wrapper">
    <div class="tyc-container">
        <div class="tyc-inner-container">
            <div class="tyc-title">TERMINOS Y CONDICIONES</div>

            <p class="tyc-text">
                Por favor, lee atentamente los siguientes términos y condiciones antes de utilizar nuestros servicios en línea. Al acceder y utilizar este sitio web, aceptas estos términos y condiciones en su totalidad. Si no estás de acuerdo con estos términos y condiciones, por favor, no utilices nuestro sitio web ni nuestros servicios.
            </p>

            <div class="tyc-section-title">1. Información de la Empresa</div>
            <p class="tyc-text">
                GRINPLAS S.R.L. es una empresa registrada en Perú, con sede en MZA. E-1 LOTE. 9 ASOC ALAMEDA DEL NORTE (ALT OVALO DE PUENTE PIEDRA), LIMA - LIMA - PUENTE PIEDRA. Nuestro número de RUC es [Número de RUC]. Puedes ponerte en contacto con nosotros a través del siguiente correo electrónico: soporte@grinplas.com y mediante el número de teléfono: +51 935 789 352.
            </p>

            <div class="tyc-section-title">2. Ventas a Pedido</div>
            <p class="tyc-text">
                NNuestro sitio web funciona como una plataforma para realizar pedidos. Los precios de nuestros productos no están visualizados en la página web. Los clientes interesados deben comunicarse con nosotros a través de los medios de contacto proporcionados para obtener información sobre los precios y realizar pedidos.
            </p>

            <div class="tyc-section-title">3. Proceso de Pedido y Pago</div>
            <p class="tyc-text">
                Una vez que un cliente realiza un pedido, nos pondremos en contacto para confirmar los detalles del pedido, incluyendo los productos solicitados, la cantidad y el precio. El pago puede realizarse a través de transferencia bancaria, efectivo o tarjeta de crédito/débito. El pago se efectúa al momento de la entrega del pedido al cliente.
            </p>

            <div class="tyc-section-title">4. Envío y Entrega</div>
            <p class="tyc-text">
                Nos comprometemos a procesar y entregar los pedidos en el menor tiempo posible. El tiempo de entrega puede variar dependiendo de la ubicación del cliente y la disponibilidad de los productos solicitados. Nos reservamos el derecho de rechazar o cancelar pedidos en caso de que no podamos satisfacer la demanda o por cualquier otro motivo justificado.
            </p>

            <div class="tyc-section-title">5. Actualizacion de direccion de entrega</div>
            <p class="tyc-text">
                El cliente podrá modificar su dirección de entrega en cualquier momento. Sin embargo, si la modificación se realiza el mismo día de la entrega, se aplicará una penalización para cubrir los gastos adicionales generados, como transporte u otros costos logísticos.
            </p>

            <div class="tyc-section-title">6. Política de Devolución</div>
            <p class="tyc-text">
                Solo aceptamos devoluciones y cambios si los productos presentan fallas de fabricación. Los productos deben ser devueltos en su estado original y sin haber sido utilizados. Los gastos de envío de las devoluciones correrán por cuenta del cliente, a menos que la devolución sea debido a una falla de fabricación. Para solicitar una devolución, por favor contáctanos dentro de un plazo de [número] días a partir de la fecha de entrega.
            </p>

            <div class="tyc-section-title">7. Propiedad Intelectual</div>
            <p class="tyc-text">
                Todos los derechos de propiedad intelectual relacionados con nuestro sitio web y nuestros productos son propiedad de GRINPLAS S.R.L. Queda prohibida la reproducción, distribución o modificación de cualquier contenido o material sin nuestro consentimiento previo por escrito.
            </p>

            <div class="tyc-section-title">8. Modificaciones</div>
            <p class="tyc-text">
                Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento y sin previo aviso. Los cambios entrarán en vigor inmediatamente después de su publicación en nuestro sitio web. Se recomienda a los usuarios revisar periódicamente estos términos y condiciones para estar al tanto de cualquier actualización.
            </p>

            <div class="tyc-section-title">9. Ley Aplicable</div>
            <p class="tyc-text">
                Estos términos y condiciones se rigen por las leyes de la República del Perú, y cualquier disputa relacionada con estos términos y condiciones estará sujeta a la jurisdicción exclusiva de los tribunales de la ciudad de Lima.
            </p>
        </div>
    </div>
</div>