#sidebar {
  width: 50vw;
  transition: width 0.3s ease;
  overflow: hidden;
}

#sidebar.collapsed {
  width: 0 !important;
  min-width: 0 !important;
}

#main-content {
  width: calc(110vw - 20vw);
  transition: width 0.3s ease;
}

#main-content.expanded {
  width: 800vw;
}
#submenu.collapse {
  transition: all 0.15s ease !important;
}
#submenu {
  overflow: hidden !important;
}

.modal-backdrop {
  z-index: 1040 !important; /* Asegúrate de que este valor no sea mayor que el del modal */
}

.modal {
  z-index: 1055 !important; /* Asegúrate de que el modal esté por encima del backdrop */
}
.nav-container {
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav-elements {
  display: flex;
  align-items: center;
  gap: 20px;
}
.login-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
}
